.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 120px;
  position: sticky;
  top: 0;
  background: black;
  box-shadow: black 0 0 10px 10px;
  z-index: 1000;
  transition: 0.2s;

  &__small {
    height: 40px;
  }

  &_label {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
  }
}

.navigation-panel {

  ul {
    list-style: none;
    display: flex;
  }

  &_item {
    margin-right: 40px;

    a {
      text-transform: uppercase;
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 1.5px;
      color: #FFFFFF;
      opacity: 0.67;
      text-decoration: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
