.popular-exercises-section {
  &_wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 120px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    &_title {
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 45px;
      letter-spacing: 0.3px;
    }

    &_link {
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 1.5px;
      opacity: 0.67;
      color: #FFFFFF;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &_card-list {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 80px 40px;
  }
}
