.card {
  width: 373px;
  height: 296px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: rotateZ(0deg) scale(1);
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    transform: rotateZ(5deg) scale(1.1);
  }

  &_image {
    top: 0;
    position: absolute;
    border-radius: 10px;
    height: 250px;
    width: 100%;
    z-index: -1;
  }

  &_overlay {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  &_title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: 0.3px;
  }

  &_description {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.5px;
    opacity: 0.67;
  }

  &_corner {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 0 0 10px;
    background-color: black;
    border-top-left-radius: 10px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 1.36667px;
  }
}
